@font-face {
    font-family: "Sacramento-Regular";
    src: url("Sacramento-Regular.ttf");
}

@font-face {
    font-family: "Vidaloka-Regular";
    src: url("Vidaloka-Regular.ttf");
}

@font-face {
    font-family: "Arvo-Regular";
    src: url("Arvo-Regular.ttf");
}

@font-face {
    font-family: AbrilFatface-Regular;
    src: url("AbrilFatface-Regular.ttf");
}